<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Omathome - Le Yoga à la demande, enfin à Paris" />
  <meta property="og:image" content="simplicite1.png">
  <meta property="og:description" content="Profitez d’un cours privé de yoga ou méditation où que vous soyez" />
  <meta property="og:url" content="omathome.fr" />
  <meta property="og:site_name" content="Omathome"/>
  <!-- Use the title from a page's frontmatter if it has one -->
  <title><%= current_page.data.title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_tag 'images/om_favicon.png' %>





  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">


<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>


<!-- (Optional) Latest compiled and minified JavaScript translation files -->

</head>
<body>


    <%= partial "navbar" %>
    <%= yield %>
    <%= partial "footer" %>


</body>

</html>
