 <div class="footer">
  <div class="footer-content">
    <div>
      <ul class="list-inline">
        <li>
          <% link_to "#"  do %>
          <i class="fa fa-facebook"></i>
          <%end %>
        </li>
        <li>
          <% link_to "#"  do %>
          <i class="fa fa-instagram"></i>
          <%end %>
        </li>
        <li>
          <% link_to "#" do %>
          <i class="fa fa-twitter"></i>
          <%end %>
        </li>
        <li>
          <% link_to "#"  do %>
          <i class="fa fa-youtube"></i>
          <%end %>
        </li>
      </ul>
      <ul class=" list-inline">
        <li>
          <%= link_to "Mentions légales", "#"  %>
        </li>
        <li>
          <%= link_to "Conditions générales", "#"  %>
        </li>
        <li>
          <%= link_to "FAQ", "#"  %>
        </li>
        <li>
          <%= link_to "Devenez instructeur de yoga", "#"  %>
        </li>
        <li>
          <%= link_to " +33(0) 768 24 01 12", "#"  %>
        </li>
        <li>
          <%= link_to " info@omathome.fr", "#"  %>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>


