  <div class="navbar">

    <div class="navbar-content desktop-navbar">
      <ul class="list-inline links-list ">
        <%= link_to "OMATHOME", "#" , id: "logo" %>
        <%= link_to "BLOG", "#"  %>
        <%= link_to "TEACHERS", "#"  %>
        <%= link_to "LOGIN", "#"  %>
        <%= link_to "SIGNUP", "#"  %>
      </ul>
    </div>
    <div class="navbar-content mobile-navbar">
      <%= link_to "OMATHOME", "#" , id: "logo" %>
      <ul class="list-inline links-list ">
        <%= link_to "BLOG", "#"  %>
        <%= link_to "TEACHERS", "#"  %>
        <%= link_to "LOGIN", "#" %>
      </ul>
    </div>
  </div>


