


 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner gold-frame">
    <div class="item active">
        <div class="slide-container">
            <div class="slide-left">
              <div class="slide-teacher-container">
                <%= image_tag data.teachers.first[1].photo,  class: "slide-picture" %>
              </div>

            </div>
            <div class="slide-right">
              <div class="slide-right-content">
              <h2><%= data.teachers.first[1].name %></h2>
              <ul class="list-inline goldy">
                <% data.teachers.first[1].star.times do %>
                  <li><i class="fa fa-star"></i></li>
                <% end %>

                <% (5-data.teachers.first[1].star).times do %>
                  <li><i class="fa fa-star-o"></i></li>
                <% end %>
              </ul>

              <p class=" goldy"><%= data.teachers.first[1].tag %></p>
              <p ><%= data.teachers.first[1].description %></p>
              </div>
              <%= link_to "RESERVEZ VOTRE COURS", "results/#{data.teachers.first[0]}.html" , class: "btn-search btn-slide" %>
            </div>

          </div>
    </div>


<% lol = data.teachers.dup %>
<%  lol.delete("sarah") %>

 <% lol.each do |polo, teacher| %>
        <div class="item ">
          <div class="slide-container">
            <div class="slide-left">
              <div class="slide-teacher-container">
                <%= image_tag teacher.photo,  class: "slide-picture" %>
              </div>
            </div>
            <div class="slide-right">
              <div class="slide-right-content">
                <h2><%= teacher.name %></h2>
                <ul class="list-inline goldy">
                <% teacher.star.times do %>
                  <li><i class="fa fa-star"></i></li>
                <% end %>

                <% (5-teacher.star).times do %>
                  <li><i class="fa fa-star-o"></i></li>
                <% end %>
                </ul>
                <p class=" goldy"><%= teacher.tag %></p>
                <p ><%= teacher.description %></p>
                <%= link_to "RESERVEZ VOTRE COURS", "results/#{polo}.html" , class: "btn-search btn-slide" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>


    <div class="item">
      <img src="ny.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control control-left" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left t"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

