---
title: Omathome
---
<div class="wrapper">
  <div class="container1">
    <div class="space">
    </div>


<%= partial "banner1" %>
<%= partial "teacher-cards" %>
    <div class="content-block">
      <h3>COMMENT ÇA MARCHE?</h3>
      <div class="row">
        <%data.steps.each do |step| %>
        <div class="col-xs-12 col-sm-3">
          <div class="step-card">
            <div class="avantage-container">
              <%= image_tag step[1].photo,  class: "posture" %>
            </div>
            <div class="avantage-card-text">
              <p><%= step[1].description %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="btn-margin">
        <%= link_to "RESERVEZ VOTRE COURS DE YOGA", "#" , class: "btn-gold" %>
      </div>
      <%= image_tag "images/yogi_icons.png", class: "logos"%>
    </div>


    <div class="content-block">

      <h3>POURQUOI UTILISER <span class="goldy">OMATHOME</span></h3>
      <div class="row">
        <%data.avantages.each do |avantage| %>
        <div class="col-xs-12 col-sm-4">
          <div class="avantage-card">
            <div class="avantage-container">
              <%= image_tag avantage[1].photo,  class: "posture" %>
            </div>
            <div class="avantage-card-text">
              <div class="avantage-name">
                <h3><%= avantage[1].name.capitalize %></h3>
                <p><%= avantage[1].description %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="btn-center ">
        <%= link_to "RESERVEZ VOTRE COURS", "#" , class: "btn-gold" %>
      </div>
      <%= image_tag "images/yogi_icons.png", class: "logos"%>
    </div>


    <div class="content-block">

      <h3>NOS COURS S’ADAPTENT À VOUS</h3>
      <%= image_tag "images/sunsalutations.png", class: "poses"%>
      <h4>méditation, débutants, avancés, hommes, femmes, enfants, voyageurs....</h4>
      <h4><i>Tout le monde ! </i></h4>
      <div class="btn-margin">
        <%= link_to "RESERVEZ VOTRE COURS", "#" , class: "btn-gold" %>
      </div>
      <%= image_tag "images/yogi_icons.png", class: "logos"%>
    </div>


  </div>
</div>
